body {
	margin: 0;
	padding: 0;
	background:
		radial-gradient(circle at 75% 50%, floralwhite 25%, rgba(0,0,0,0)),
		radial-gradient(circle at 0 0, lightgrey, floralwhite 40%);
}

#container {
	width: 85%;
	margin: 0 auto;
}

#left-container {
	font-family: 'Trebuchet MS', Helvetica, Sans-serif;
	float: left;
	padding: 0 20px;
	width: 500px;
	text-align: center;
}

.wheel-container {
	width: 100px;
	height: 100px;
	float: left;
	margin: 4px;
	background-image: url('images/wiel.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.wheel {
	padding-top: 3px;
	line-height: 6;
	text-align: center;
	cursor: pointer;
	border-radius: 50px;
}

.number {
	font-size: 1.4em;
	color: black;
	width: 28px;
	height: 28px;
	text-align: center;
	border-radius: 16px;
	background-color: white;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.number::-webkit-inner-spin-button, 
.number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.number:invalid {
	box-shadow: 0 0 0 white;
}

.number:focus {
	border: 2px solid blue;
	box-shadow: 0 0 2px blue;
}

.number::selection {
	background-color: white;
}

.number::-moz-selection {
	background-color: white;
}

#enter-button {
	display: block;
	clear: left;
	float: right;
	padding: 4px;
	font-size: 1.2em;
}

#safe-form {
	background-color: grey;
	padding: 12px;
	border-radius: 6px;
}

#safe-form:after {
	display: block;
	content: "";
	clear: both;
}

#notepaper {
	font-family: 'Qwigley', Helvetica, Sans-serif;
	font-size: 2.25em;
	float: left;
	box-sizing: border-box;
	margin: 30px 10px 20px 20px;
	padding: 14px 14px 14px 70px;
	width: 410px;
	height: 560px;
	background-image: url('images/notepaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 8px -10px;
	transform: rotate(2deg);
}

#guessed-list {
	margin: -3px 0;
}

.line {
	line-height: 1.08;
	display: block;
}

.code {
	letter-spacing: 6px;
	width: 150px;
}

.color {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	margin: 2px;
	border: 1px solid black;
}

.green {background-color: #b3ff66;}
.yellow {background-color: #ffff4d;}
.red {background-color: #ff8080;}

#back {
	width: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}
